<p>
    It is the type which is used to return the partial view page rather than returning the regular view page.
</p>
<p>
    The output of PartialViewResult is same as that of ViewResult. But the content of layout page is missing.
</p>